{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "www.google.com",
  "basePath": "/m8/feeds",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Manipulates Google Contacts data.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Contacts",
    "version": "v3",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "time_management"
    ],
    "x-logo": {
      "url": "https://www.gstatic.com/images/icons/material/product/2x/calendar_64dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.0.1"
        },
        "format": "google",
        "url": "https://people.googleapis.com/$discovery/rest?version=v1",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "google.com",
    "x-serviceName": "contacts"
  },
  "externalDocs": {
    "url": "https://developers.google.com/google-apps/contacts/firstapp"
  },
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {
        "https://www.google.com/m8/feeds/": "Manage your contacts",
        "https://www.googleapis.com/auth/contacts.readonly": "View your contacts"
      },
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 accessCode authentication",
      "flow": "accessCode",
      "scopes": {
        "https://www.google.com/m8/feeds/": "Manage your contacts",
        "https://www.googleapis.com/auth/contacts.readonly": "View your contacts"
      },
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    }
  },
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "in": "query",
      "name": "alt",
      "type": "string"
    },
    "author": {
      "description": "Entry author",
      "in": "query",
      "name": "author",
      "type": "string"
    },
    "category": {
      "description": "Category query filter",
      "in": "query",
      "name": "category",
      "type": "string"
    },
    "entryId": {
      "description": "Category query filter",
      "in": "query",
      "name": "entryId",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "in": "query",
      "name": "fields",
      "type": "string"
    },
    "maxResults": {
      "description": "Maximum number of results to be retrieved.",
      "in": "query",
      "name": "maxResults",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "in": "query",
      "name": "oauth_token",
      "type": "string"
    },
    "prettyPrint": {
      "default": true,
      "description": "Returns response with indentations and line breaks.",
      "in": "query",
      "name": "prettyPrint",
      "type": "boolean"
    },
    "userEmail": {
      "description": "User Email.",
      "in": "query",
      "name": "userEmail",
      "type": "string"
    }
  },
  "tags": [
    {
      "name": "contacts"
    }
  ],
  "paths": {
    "/contacts/{userEmail}/full": {
      "get": {
        "description": "Returns feed of user contacts.",
        "operationId": "getContactsList",
        "parameters": [
          {
            "description": "Email associated with the account.",
            "in": "path",
            "name": "userEmail",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ContactList"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.google.com/m8/feeds/"
            ],
            "Oauth2c": [
              "https://www.google.com/m8/feeds/"
            ]
          }
        ],
        "tags": [
          "contacts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/author"
        },
        {
          "$ref": "#/parameters/category"
        },
        {
          "$ref": "#/parameters/entryId"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/maxResults"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        }
      ]
    }
  },
  "definitions": {
    "Author": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Author"
        },
        "email": {
          "type": "string",
          "description": "Author's Email"
        }
      },
      "type": "object"
    },
    "XEmail": {
      "properties": {
        "-address": {
          "type": "string",
          "description": "The contact's email address."
        }
      },
      "type": "object"
    },
    "Title": {
      "properties": {
        "#text": {
          "type": "string",
          "description": "Name of the contact"
        }
      }
    },
    "ContactEntry": {
      "properties": {
        "title": {
          "$ref": "#/definitions/Title"
        },
        "gd:email": {
          "$ref": "#/definitions/XEmail"
        }
      },
      "type": "object"
    },
    "Feed": {
      "properties": {
        "id": {
          "description": "Email registered with account.",
          "type": "string"
        },
        "updated": {
          "description": "Last updated",
          "type": "string"
        },
        "author": {
          "$ref": "#/definitions/Author"
        },
        "entry": {
          "description": "Entries in the registered user's contacts list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactEntry"
          }
        }
      },
      "type": "object"
    },
    "ContactList": {
      "properties": {
        "feed": {
          "$ref": "#/definitions/Feed"
        }
      },
      "type": "object"
    }
  }
}